main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

main article {
  flex: 1;

  display: flex;
  flex-direction: row;
}

main article aside {
  flex: 0.4;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding: 1rem;
}

main article section {
  flex: 0.6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

@media (max-width: 991px) {
  main article {
    flex-direction: column;
  }

  main article aside,
  main article section {
    justify-content: center;
  }
}
